sudo: required
language: python
python:
  - 3.6
  
env:
  global:
    - SHA=$(git rev-parse HEAD)
    
services:
  - docker

before_install:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

deploy:
  provider: script
  script: bash ./deploy.sh
  on:
    branch: master

